/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}


li,
h3 {
    list-style: none;
}

input,
button {
    outline: none;
}


.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header img {
    width: 100%;
}

.header .header__link {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {

    .header {
        text-align: center;
    }

}

.main {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.tasks__item_input,
.tasks__item_label,
#new-task {
    width: 56%;
    display: inline-block;
    flex-grow: 1
}

.row-wrapper {
    display: flex;
    margin-top: 20px;
}

.button,
.tasks__item_button,
.tasks__item_button_edit,
.tasks__item_button_delete {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.button:hover,
.tasks__item_button:hover,
.tasks__item_button_edit:hover,
.tasks__item_button_delete:hover {
    color: #3a3A3a;
}

/* Heading */
/* h3,
label[for="new-task"], */
.section__title {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

/* input[type="text"] , */
.tasks__item_input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

/* input[type="text"]:focus, */
.tasks__item_input:focus {
    color: #333;
}

/* New Task */
#new-task {
    display: block;
    width: 318px;
}

/* Task list */
/* li, */
.tasks__item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* li>* {
    vertical-align: middle;
} */

/* .tasks__item>input[type="checkbox"], */
.tasks__checkbox {
    margin: 0 10px;
}

.tasks__item>.tasks__item_label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

/* li>input[type="text"], */
.tasks__item>.tasks__item_input {
    width: 226px;
}

.tasks__item_button_delete_image {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.tasks__item_button_delete_image:hover {
    transform: rotateZ(0);
}

/* Completed */
#completed-tasks .tasks__item_label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
/* ul li input[type=text], */
.tasks__item>.tasks__item_input {
    display: none;
}

.tasks__item_edit .tasks__item_input {
    display: inline-block;
    width: 224px;
}

.tasks__item_edit .tasks__item_label {
    display: none;
}